@font-face {
    font-family: 'BMEuljiro10yearslater';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/BMEuljiro10yearslater.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BBTreeGB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0 0 0 0;
}

.main-title {
    font-family: BMEuljiro10yearslater;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    background: linear-gradient(to right, #d500f9, #d500f9, #303f9f, #f50057, #f50057);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #ffebee;
}

.games {
    height: 80vh;
    padding: 1rem;
    background-color: #ffcdd2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.games-title {
    text-align: center;
    font-family: BBTreeGB;
    border-image: linear-gradient(to right, #d500f9, #303f9f, #f50057);
    border-image-slice: 1;
    border-bottom-width: 4px;
    border-bottom-style: double;
    border-top-width: 4px;
    border-top-style: double;
    width: 25rem;
    background: linear-gradient(to right, #d500f9, #303f9f, #f50057);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.games-title h1 {
    font-size: 1.8rem;
    margin: .8rem;
    animation: pulse;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
}

.game-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.custom-card {
    width: 25rem!important;
    height: 26rem!important;
    min-height: 320px!important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1)!important;
}

.custom-card:hover {
    box-shadow: 0 14px 20px -3px rgba(0, 0, 0, 0.25), 0 6px 10px -3px rgba(65, 23, 23, 0.15)!important
}

.custom-card-content {
    padding: 13.5px;
    line-height: 27px;
}

.custom-card-image {
    width: 25rem!important;
    height: 22rem!important;
}

.custom-card-image img {
    width: 25rem!important;
    height: 22rem!important;
}

.modal-content img {
    width: 100%;
    margin-right: 2%;
    height: auto;
    display: inline-block;
}

.material-placeholder {
    display: inline-block;
    width: 32%;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    max-width: 1400px;
}

.chip {
    transition: background 1s ease-in;
    -moz-transition: background 1s ease-in;
    -webkit-transition: background 1s ease-in;
    -o-transition: background 1s ease-in;
    -ms-transition: background 1s ease-in;
    cursor: pointer;
    background: linear-gradient(to right, #d500f9, #303f9f, #f50072);
    color: white!important
}

.chip:hover {
    background: linear-gradient(to left, #d500f9, #303f9f, #f50072);
}

footer {
    height: 6rem;
    text-align: center;
    background-color: rgb(70, 70, 100);
    color: white;
    padding: 2rem;
    font-size: 1.5rem;
}