@font-face {
    font-family: 'BMEuljiro10yearslater';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/BMEuljiro10yearslater.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BBTreeGB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0 0 0 0;
}

body {
    min-height: 100vh;
}

.main-title {
    font-family: BMEuljiro10yearslater;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    background: linear-gradient(to right, #d500f9, #d500f9, #303f9f, #f50057, #f50057);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #ffebee;
    transition: all 0.2s ease-in-out;
}

.main-title:hover {
    background: linear-gradient(to right, #303f9f, #303f9f, #f50057, #d500f9, #d500f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-wrapper {
    border: solid 4px #a3d8f4;
    border-image: linear-gradient(to right, #f900bb, #d500f9, #303f9f, #f500ac, #f50057);
    border-image-slice: 1;
    border-radius: 2rem;
    background-color: white;
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: 45vh;
    border-radius: 0.5em;
}

.buttons {
    position: absolute;
    left: 26vw;
    top: 58vh;
}

.btn {
    font-size: 1.2rem!important
}